<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header('专家列表')">
</head>
<body>
<header th:include="navbar :: header(${config?.phone1},${config?.email1})"></header>
<section class="inner-title" id="inner-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h2>专家详情</h2>

            </div>
            <div class="col-md-6 col-lg-6">
                <div class="breadcrumbs">
                    <ul>
                        <li>当前页</li>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="expertDetails.html">专家详情</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-margine">
    <div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="col-md-2 col-sm-12 col-lg-2">
                        <div class="my-member-img">
                            <img th:src="@{${mDoctor.imgpath}}" class="img-responsive" th:alt="${mDoctor.dname}">
                        </div>
                        <div style="text-align: right;">
                            <span>专家职位：</span>
                            <h3 th:text="${mDoctor.djob}"></h3>
                            <span>专家姓名：</span><h5 th:text="${mDoctor.dname}">专家姓名 </h5>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div style="height: auto;margin-bottom: 2%">
                            <div>
                                <span>简介：</span>
                                <div th:utext="${mDoctor.ddesc}"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footer-top" class="footer-top" th:include="footer :: footer-top(${config},${bottomNews})"></section>

<section id="footer-bottom" class="footer-bottom" th:include="footer :: footer-bottom"></section>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-dropdownhover.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>