<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header('专家列表')">
    <style>
        .wow {
            cursor: pointer;
        }
    </style>
<body>
<header th:include="navbar :: header(${config?.phone1},${config?.email1})"></header>
<section class="inner-title" id="inner-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h2>专家列表</h2>

            </div>
            <div class="col-md-6 col-lg-6">
                <div class="breadcrumbs">
                    <ul>
                        <li>当前页</li>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="expertList.html">专家列表</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-margine">
    <div>
        <div class="container">
            <div class="row my-team">
                <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" th:each="item:${pageData.list}"
                     th:onclick="'javascript:jumpPage(\''+${item?.did}+'\');'">
                    <div class="my-member-img">
                        <img th:src="@{${item.imgpath}}" class="img-responsive" th:alt="${item.dname}">
                    </div>
                    <div class="my-team-detail text-center">
                        <h4 class="my-member-name" th:text="${item.dname}"></h4>
                        <p class="my-member-post" th:text="${item.djob}"></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-bottom:2rem;">
                <div class="col-12" style="text-align: center;">
                    <a href="expertList.html" class="btn btn-info">首页</a>
                    <a th:href="@{'expertList.html?pageindex='+${pageData.prevpage}}" class="btn btn-info"
                       th:classappend="${pageData.pageindex==1}?'disabled':''" th:text="上一页"></a>
                    <a th:href="@{'expertList.html?pageindex='+${pageData.nextpage}}" class="btn btn-info"
                       th:classappend="${pageData.nextpage==0 || pageData.nextpage==pageData.pageindex}?'disabled':''"
                       th:text="下一页"></a>
                    <a th:href="@{'expertList.html?pageindex='+${pageData.pagecount}}" class="btn btn-info"
                       th:text="尾页"></a>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-top" class="footer-top" th:include="footer :: footer-top(${config},${bottomNews})"></section>

<section id="footer-bottom" class="footer-bottom" th:include="footer :: footer-bottom"></section>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-dropdownhover.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/main.js"></script>
<script th:inline="javascript">
    function jumpPage(did) {
        window.location.href = "expertDetails.html?did=" + did;
    }
</script>
</body>
</html>