<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header('首页')">

</head>
<body>
<header th:include="navbar :: header(${config?.phone1},${config?.email1})"></header>
<section id="slider" class="">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators visible-lg visible-md">
            <li data-target="#main-slide" th:attr="data-slide-to=${bannerStat.index}"
                th:classappend="${bannerStat.index==0}?'active':''" th:each="banner,bannerStat : ${banners}"></li>
        </ol><!--/ Indicators end-->

        <!-- Carousel inner -->
        <div class="carousel-inner">

            <!--<div class="item active" style="background-image:url(images/slide/1.jpg)">-->
            <!--<div class="slider-content text-left">-->
            <!--<div class="col-md-12">-->
            <!--<h2 class="slide-title effect2">Empowering People</h2>-->
            <!--<h3 class="slide-sub-title effect3">To Improve Their Lives</h3>-->
            <!--<p class="slider-description lead effect3">Praesent convallis tortor et enim laoreet, vel consectetur purus latoque.</p>-->
            <!--<p class="effect3">-->
            <!--<a href="#" class="slider btn btn-primary">Our Service</a>-->
            <!--<a href="#" class="slider btn btn-secondary">About Us</a>-->
            <!--</p>      -->
            <!--</div>-->
            <!--</div>-->
            <!--</div>&lt;!&ndash;/ Carousel item 1 end &ndash;&gt;-->


            <div class="item"
                 th:style="'background:url(\''+${banner?.imgpath}+'\');width: 100%;background-position: center center;background-repeat: no-repeat;background-size: cover;'"
                 th:each="banner,bannerStat : ${banners}" th:classappend="${bannerStat.index==0} ? 'active':''">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="slide-title effect4" th:text="${banner?.smalltitle}"
                            style="text-shadow: 1px 1px 1px black"></h2>
                        <h3 class="slide-sub-title effect5" th:text="${banner?.bigtitle}"
                            style="text-shadow: 1px 1px 1px black"></h3>
                        <p th:styleappend="${banner?.showbtn==1 && banner?.btntext!=null}?'display:none':'display:block'">
                            <a th:href="${banner?.btnhref}" class="slider btn btn-primary"
                               th:text="${banner?.btntext}"></a>
                        </p>
                    </div>
                </div>
            </div><!--/ Carousel item 2 end -->


            <!--<div class="item" style="background-image:url(images/slide/3.jpg)">-->
            <!--<div class="slider-content text-right">-->
            <!--<div class="col-md-12">-->
            <!--<h2 class="slide-title effect6">To better healthcare</h2>-->
            <!--<h3 class="slide-sub-title effect7">Leading the way</h3>-->
            <!--<p class="slider-description lead effect7">Praesent convallis tortor et enim laoreet, vel consectetur purus latoque.</p>-->
            <!--<p>-->
            <!--<a href="#" class="slider btn btn-primary">Consultation</a>-->
            <!--<a href="#" class="slider btn btn-primary border">Know More</a>-->
            <!--</p>      -->
            <!--</div>-->
            <!--</div>-->
            <!--</div>&lt;!&ndash;/ Carousel item 3 end &ndash;&gt;-->

        </div><!-- Carousel inner end-->

        <!-- Controllers -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div><!--/ Carousel end -->
</section>
<!--<section id="section1" class="section-margine">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-3 col-sm-6">-->
<!--<div class="section-1-box wow bounceIn">-->
<!--<div class="section-1-box-icon-background"><i class="fa fa-ambulance fa-2x"></i></div>-->
<!--<h4 class="text-center">服务1</h4>-->
<!--<p class="text-center">服务介绍1</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3  col-sm-6">-->
<!--<div class="section-1-box wow bounceIn" data-wow-delay=".1s">-->
<!--<div class="section-1-box-icon-background"><i class="fa fa-user-md fa-2x"></i></div>-->
<!--<h4 class="text-center">服务2</h4>-->
<!--<p class="text-center">服务介绍2</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3  col-sm-6">-->
<!--<div class="section-1-box wow bounceIn" data-wow-delay=".2s">-->
<!--<div class="section-1-box-icon-background"><i class="fa fa-h-square fa-2x"></i></div>-->
<!--<h4 class="text-center">服务3</h4>-->
<!--<p class="text-center">服务介绍3</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3  col-sm-6">-->
<!--<div class="section-1-box wow bounceIn" data-wow-delay=".3s">-->
<!--<div class="section-1-box-icon-background"><i class="fa fa fa-heartbeat fa-2x"></i></div>-->
<!--<h4 class="text-center">服务4</h4>-->
<!--<p class="text-center">服务介绍4</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--<section id="section2" class="section-margine">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12 nopadding">-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<div class="section-2-box-left wow fadeInLeft">-->
<!--<figure><img src="images/m1.jpg" class="img-responsive"></figure>-->
<!--<h4>Medical Care</h4>-->
<!--<p>Using many font styles canslow down your webpage, so only select the font styles that you consectetur adipiscing elit, sed do eiusmod.</p>-->
<!--<a href="#" class="btn btn-primary">Know More</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<div class="section-2-box-left wow fadeInLeft">-->
<!--<figure><img src="images/m2.jpg" class="img-responsive"></figure>-->
<!--<h4>Specific Remedy</h4>-->
<!--<p>Using many font styles canslow down your webpage, so only select the font styles that you consectetur adipiscing elit, sed do eiusmod.</p>-->
<!--<a href="#" class="btn btn-primary">Know More</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="col-md-4  col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="section-2-box-right wow fadeInRight">&ndash;&gt;-->
<!--&lt;!&ndash;<h3>Opening Hours</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Scrambled it to make a type specimen book. It has survived not only five centuries.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<ul> &ndash;&gt;-->
<!--&lt;!&ndash;<li>Monday - Friday : 8.00 - 16.00</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li>Saturday : 9.30 - 15.30</li> &ndash;&gt;-->
<!--&lt;!&ndash;<li>Sunday : 9.30 - 17.00</li> &ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;<a data-toggle="modal" href="#appointment" class="btn btn-default">Book Appointment</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--<section id="section3" class="section-margine section3-background">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-3 col-sm-6">-->
<!--<div class="section-3-box">-->
<!--<figure><i class="fa fa-desktop fa-2x"></i></figure>-->
<!--<h3><span class="counter">1000</span>+</h3>-->
<!--&lt;!&ndash;<h4>Doctors</h4>&ndash;&gt;-->
<!--<h4>数据</h4>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6">-->
<!--<div class="section-3-box">-->
<!--<figure><i class="fa fa-group fa-2x"></i></figure>-->
<!--<h3><span class="counter">1520</span>+</h3>-->
<!--&lt;!&ndash;<h4>Total Rooms</h4>&ndash;&gt;-->
<!--<h4>数据</h4>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6">-->
<!--<div class="section-3-box">-->
<!--<figure><i class="fa fa-coffee fa-2x"></i></figure>-->
<!--<h3><span class="counter">50</span>+</h3>-->
<!--&lt;!&ndash;<h4>Cureds Cases</h4>&ndash;&gt;-->
<!--<h4>数据</h4>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6">-->
<!--<div class="section-3-box">-->
<!--<figure><i class="fa fa-glass fa-2x"></i></figure>-->
<!--<h3><span class="counter">400</span>+</h3>-->
<!--&lt;!&ndash;<h4>Awards Shows</h4>&ndash;&gt;-->
<!--<h4>数据</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section id="section4" class="section-4 section-margine">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="title-head">
                    <h2>我们的服务</h2>
                    <p>给您无微不至的客户体验</p>
                    <div class="line-heading">
                        <span class="line-left"></span>
                        <span class="line-middle">+</span>
                        <span class="line-right"></span>
                    </div>
                </header>
            </div>
            <div class="col-md-4 col-sm-6 right wow fadeInUp">
                <ul class="section">
                    <li class="left"><i class="fa fa-medkit"></i></li>
                    <li><strong>
                        <a href="projectList.html" style="font-size: 15px;color: #0b0b0b">科研中心</a>
                    </strong>
                        <p>实体瘤,糖尿病,基因检测……</p>
                        <!--<a href="#" class="btn btn-primary btn-sm">Know More</a>-->
                </ul>
                <ul class="section two">
                    <li class="left"><i class="fa fa-stethoscope"></i></li>
                    <!--<li><strong>Implantology</strong> -->
                    <li><strong>
                        <a href="inductry.html" style="font-size: 15px;color: #0b0b0b">产业板块</a></strong>
                        <p>研发中心,生产中心……</p>
                        <!--<a href="#" class="btn btn-primary btn-sm">Know More</a>-->
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs left wow fadeInUp" data-wow-delay=".2s"><img alt=""
                                                                                                  src="images/m4.png">
            </div>
            <!-- end left -->
            <div class="col-md-4 col-sm-6 right wow fadeInUp" data-wow-delay=".3s">
                <ul class="section three">
                    <li class="left"><i class="fa fa-user-md"></i></li>
                    <!--<li><strong>Procedure to teeth</strong> -->
                    <li><strong>
                        <a href="expertList.html" style="font-size: 15px;color: #0b0b0b">专家团队</a>
                    </strong>
                        <p>拥有各方面的专家……</p>
                        <!--<a href="#" class="btn btn-primary btn-sm">Know More</a>-->
                    </li>
                </ul>
                <ul class="section four">
                    <li class="left"><i class="fa fa-unlink"></i></li>
                    <!--<li><strong>Metal braces</strong> -->
                    <li><strong>
                        <a href="questionList.html" style="font-size: 15px;color: #0b0b0b">科普答疑</a>
                    </strong>
                        <p>解答疑难问题</p>
                        <!--<a href="#" class="btn btn-primary btn-sm">Know More</a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--<section  id="section5" class="section-5 section-margine">-->
<!--<div class="container">-->
<!--<div class="row my-team">-->
<!--<div class="col-md-12">-->
<!--<header class="title-head">-->
<!--<h2>Awesome Doctors Team</h2>-->
<!--<p>Using many font styles canslow down your webpage, so only select the font styles that you</p>-->
<!--<div class="line-heading">-->
<!--<span class="line-left"></span>-->
<!--<span class="line-middle">+</span>-->
<!--<span class="line-right"></span>-->
<!--</div>-->
<!--</header>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 my-team-member wow fadeInUp">-->
<!--<div class="my-member-img">-->
<!--<img src="images/team/1.jpg" class="img-responsive" alt="team01">-->
<!--</div>-->
<!--<div class="my-team-detail text-center">-->
<!--<h4 class="my-member-name">Turanga Parker</h4>-->
<!--<p class="my-member-post">Director</p>  -->
<!--<div class="my-member-social">-->
<!--<ul>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>-->
<!--</ul>-->
<!--</div>        -->
<!--</div>        -->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".2s">-->
<!--<div class="my-member-img">-->
<!--<img src="images/team/2.jpg" class="img-responsive" alt="team02">-->
<!--</div>-->
<!--<div class="my-team-detail text-center">-->
<!--<h4 class="my-member-name">Mariya Rayan</h4>-->
<!--<p class="my-member-post">Manager</p>-->
<!--<div class="my-member-social">-->
<!--<ul>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>        -->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".3s">-->
<!--<div class="my-member-img">-->
<!--<img src="images/team/3.jpg" class="img-responsive" alt="team03">-->
<!--</div>-->
<!--<div class="my-team-detail text-center">-->
<!--<h4 class="my-member-name">Jerry Hu</h4>-->
<!--<p class="my-member-post">Sales Manager</p>-->
<!--<div class="my-member-social">-->
<!--<ul>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>          -->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".2s">-->
<!--<div class="my-member-img">-->
<!--<img src="images/team/4.jpg" class="img-responsive" alt="team04">-->
<!--</div>-->
<!--<div class="my-team-detail text-center">-->
<!--<h4 class="my-member-name">Sara Rayan</h4>-->
<!--<p class="my-member-post">Support</p>         -->
<!--<div class="my-member-social">-->
<!--<ul>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section id="section10" class="section-10-background">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="section-10-box-text-cont">
                    <h3>还有更多问题？我们诚挚地欢迎您进行电话咨询，<span class="color-yellow" th:text="'电话号码：'+${config.phone1}"></span></h3>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-10-btn-cont"><a class="btn btn-secondary wow fadeInUp"
                                                    th:href="'tel:'+${config.phone1}">立即拨打</a></div>
            </div>
        </div>
    </div>
</section>
<section id="section14" class="section-margine">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <header class="title-head">
                    <h2>站点新闻</h2>
                    <p>获取公司最新信息,尽在此处</p>
                    <div class="line-heading">
                        <p><a href="newslist.html">更多新闻</a></p>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" th:each="n,nStat:${news}">
                <div class="section-14-box wow fadeInUp">
                    <img th:src="@{${n?.imgpath}}" class="img-responsive" th:alt="${n?.ntitle}">
                    <h3><a th:href="@{'newsdetail.html?nid='+${n?.nid}}" th:text="${n?.ntitle}"></a></h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="comments">
                                <a href="javascript:void(0)" class="btn btn-primary btn-sm"
                                   th:text="${#dates.format(n?.createdate,'yyyy-MM-dd')}"></a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-sm"
                                   th:text="${n?.newstype?.ntypename}"></a>
                            </div>
                        </div>
                    </div>
                    <p th:utext="${#strings.abbreviate(n?.ndetail,50)}"></p>
                </div>
            </div>
            <!--<div class="col-md-4 col-lg-4">-->
            <!--<div class="section-14-box wow fadeInUp" data-wow-delay=".2s">-->
            <!--<h3><a href="#">Surgery Advices</a></h3>-->
            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div class="comments">-->
            <!--<a class="btn btn-primary btn-sm">July, 30, 30</a>-->
            <!--<a href="#" class="btn btn-primary btn-sm">rkwebdes</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>Laoreet eleifend condimentum urna odio inceptos bibendum curae imperdiet laoreet nunc tellus, class ultricies vivamus primis.</p>-->
            <!--<img src="images/blog/blog-2.jpg" class="img-responsive" alt="Blog image 1">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-lg-4">-->
            <!--<div class="section-14-box wow fadeInUp" data-wow-delay=".3s">-->
            <!--<img src="images/blog/blog-3.jpg" class="img-responsive" alt="Blog image 1">-->
            <!--<h3><a href="#">Medicine Sale Market</a></h3>-->
            <!--<div class="row">-->
            <!--<div class="col-md-12 col-lg-12">-->
            <!--<div class="comments">-->
            <!--<a class="btn btn-primary btn-sm">July, 30, 30</a>-->
            <!--<a href="#" class="btn btn-primary btn-sm">rkwebdes</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>Laoreet eleifend condimentum urna odio inceptos bibendum curae imperdiet laoreet nunc tellus, class ultricies vivamus primis.</p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>

<!--<section id="section8" class="mytestimonial">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div data-ride="carousel" class="carousel slide" id="testimonial">-->
<!--<ol class="carousel-indicators">-->
<!--<li data-target="#testimonial" data-slide-to="0" class="active"><img alt="Testimonial"-->
<!--class="img-responsive"-->
<!--src="images/people/1.jpg">-->
<!--</li>-->
<!--<li data-target="#testimonial" data-slide-to="1"><img alt="Testimonial" class="img-responsive"-->
<!--src="images/people/2.jpg">-->
<!--</li>-->
<!--</ol>-->
<!--<div class="carousel-inner">-->
<!--<div class="item text-center quotes-detail active left">-->
<!--<p class="client-quote"><i class="fa fa-quote-left"></i>Focus on what really matters: your-->
<!--product. Create beautiful, unique websites with impact full landing pages and banners,-->
<!--without any coding or design skills<i class="fa fa-quote-right "></i></p>-->
<!--<h5 class="client-name">John</h5>-->
<!--</div>-->
<!--<div class="item text-center quotes-detail next left">-->
<!--<p class="client-quote"><i class="fa fa-quote-left "></i>Focus on what really matters: your-->
<!--product. Create beautiful, unique websites with impact full landing pages and banners,-->
<!--without any coding or design skills<i class="fa fa-quote-right "></i></p>-->
<!--<h5 class="client-name">John</h5>-->
<!--</div>-->
<!--</div> &lt;!&ndash; end carosel-inner &ndash;&gt;-->
<!--</div> &lt;!&ndash; end Quotes &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section>
    <div class="row">
        <div class="page3" style=" width: 100%;height: auto;overflow: hidden;background-color: #47689b;">
            <div class="container">
                <ul style="margin: 0;padding: 0;list-style: none;">
                    <li style="width: 33.33%;float: left;text-align: center;padding: 7% 4%;color: #fff;background-color: #4B6EA3;">
                        <div class="page3-txt"
                             style="height: 160px;width: auto;overflow: hidden;text-transform: capitalize;">
                            <a href="inductry.html" style="color: #fff;"><img
                                    style=" vertical-align: middle;"
                                    src="http://www.saliai.com/themes/saliar/assets/images/icon_02.png">
                                <h4>产业板块</h4></a>
                        </div>
                    </li>
                    <li style="width: 33.33%;float: left;text-align: center;padding: 7% 4%;color: #fff;background-color: #446494;">
                        <div class="page3-txt"
                             style="height: 160px;width: auto;overflow: hidden;text-transform: capitalize;">
                            <a href="projectList.html" style="color: #fff;"><img
                                    style=" vertical-align: middle;"
                                    src="http://www.saliai.com/themes/saliar/assets/images/icon_03.png">
                                <h4>科研中心</h4></a>
                        </div>
                    </li>
                    <li style="width: 33.33%;float: left;text-align: center;padding: 7% 4%;color: #fff;background-color: #42618F;"
                        background-color: #42618F;>
                        <div class="page3-txt"
                             style="height: 160px;width: auto;overflow: hidden;text-transform: capitalize;">
                            <a href="expertList.html" style="color: #fff;"><img style=" vertical-align: middle;"
                                                                                 src="http://www.saliai.com/themes/saliar/assets/images/icon_04.png">
                                <h4>专家团队</h4></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section9" class="section-9-background">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6" th:each="item:${mCoopList}">
                <a th:href="@{${item.weburl}}">
                    <img th:src="${item.imgpath}" class="img-responsive wow fadeInUp" th:alt="${item.coname}">
                </a>
            </div>
            <!--<div class="col-md-2 col-sm-4 col-xs-6"><img src="images/clients/2.png" class="img-responsive wow fadeInUp"-->
            <!--alt=""></div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6"><img src="images/clients/3.png" class="img-responsive wow fadeInUp"-->
            <!--alt=""></div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6"><img src="images/clients/4.png" class="img-responsive wow fadeInUp"-->
            <!--alt=""></div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6"><img src="images/clients/5.png" class="img-responsive wow fadeInUp"-->
            <!--alt=""></div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6"><img src="images/clients/6.png" class="img-responsive wow fadeInUp"-->
            <!--alt=""></div>-->
        </div>
    </div>
</section>


<section id="section23" class="appointment">
    <div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog style-one" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Make an Appoinment</h4>
                </div>
                <div class="modal-body">
                    <div class="appoinment-form-outer">
                        <form action="" method="post">
                            <h4>Fill Up Appointment Form.</h4>
                            <div class="form-group">
                                <label>Name <span class="required">*</span></label>
                                <input type="text" class="form-control" required="" placeholder="First Name" value=""
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label>Email <span class="required">*</span></label>
                                <input type="email" class="form-control" required="" placeholder="Email" value=""
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label>Phone <span class="required">*</span></label>
                                <input type="text" class="form-control" required="" placeholder="Phone" value=""
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label>Age <span class="required">*</span></label>
                                <input type="text" class="form-control" required="" placeholder="age" value=""
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label>Appoinment Date <span class="required">*</span></label>
                                <input class="datepicker form-control" type="text" required="" placeholder="MM/DD/Year"
                                       value="" name="name">
                            </div>
                            <div class="form-group">
                                <label>Time<span class="required">*</span></label>
                                <input type="text" class="timepicker form-control" required="" placeholder="Time"
                                       value="" name="name">
                            </div>
                            <div class="form-group">
                                <label>Address <span class="required">*</span></label>
                                <input type="text" class="form-control" required="" placeholder="Address" value=""
                                       name="name">
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-top" class="footer-top" th:include="footer :: footer-top(${config},${bottomNews})"></section>

<section id="footer-bottom" class="footer-bottom" th:include="footer :: footer-bottom"></section>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-dropdownhover.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>